<!DOCTYPE html>
<html>
  <head>
<title>CWU Safety Status</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body {
        background-color: #F8F9FA;
      }
      .accent-color {
        color: #A30F32;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid mt-3">
      <div class="row">
        </div>
        <h1 class="text-center accent-color">CWU Safety Status</h1>
      </div>
      <br>
      <h4 class="text-center"> Response has been recorded</h4>
  </body>
</html>
<script>
  function doPoll(){
    console.log("test")
    $.post('<api_endpoint_here>', function(data) {
        // Do operation to update the data here
        setTimeout(doPoll, 2);
    });
}
</script>

